/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}


/* ===== Colours ===== */
:root {
    --body-color: #ffffff;
    --nav-color: #4a78f5;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #ffffff;
    --search-bar: #242526;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: var(--nav-color);
    /* z-index: 100; */
}

body.dark nav {
    border: 1px solid #393838;

}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active~.search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input {
    color: var(--text-color);
}

.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i {
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}

.main-logo {
    width: 170px;
    position: relative;
    top: 5px;
}

.heroSection {
    /* margin-top: 10px; */
    height: 90vh;
    width: 100%;
    /* background-color: #6877a1; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 5px solid; */
}

.heroContent h1 {
    font-size: 60px;
    font-weight: 600;
    color: #000000;
    margin-top: 20px;
}

.heroContent h3 {
    font-size: 30px;
    font-weight: 900;
    color: var(--nav-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.heroContent p {
    font-size: 20px;
    font-weight: 400;
    color: #5a5a5a;
    margin-top: 15px;
    margin-bottom: 20px;
}

#heroBtn>button {
    padding: 15px;
    background-color: #4A78F5;
    border-radius: 7px;
    border: none;
    color: white;
}

#heroBtn>button:hover {
    background-color: #234bbb;
    color: white;
}

#heroBtn>button:active {
    scale: 0.9;
}

#heroBtn {
    display: flex;
    column-gap: 50px;
}

#heroBtn>a {
    margin-top: 10px;
    text-decoration: none;
}

#heroBtn>a:hover {
    color: black;
}

.secondSection {
    height: 100vh;
    width: 100%;
    /* background-color: #6877a1; */
    /* display: flex; */
    text-align: center;
}

.secondSection-heading {
    margin: 0 auto;
    padding: 50px;
}

.secondSection-heading>p {
    text-align: center;
    font-size: 20px;
    color: blue;
}

.secondSection-heading>h1>span {
    color: blue;
}

.secondSection-firstCard>img {
    width: 130px;
}

.secondSection-Body {
    display: flex;
    flex-direction: row;
    padding: 90px;
    justify-content: space-around;
}

.login-signup-buttons {
    display: flex;
    flex-direction: row;
    /* column-gap: 20px; */
    /* border: 3px solid; */
    position: relative;
    left: 150px;
}

#register-btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#register-btn:hover {
    background-color: #3838e480;
    border: 1px solid transparent;
    cursor: pointer;
}

#login-btn {
    color: white;
    background-color: blue;
    border: 1px solid blue;
    text-transform: uppercase;
    font-weight: 600;
    /* padding: 8px; */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    position: relative;
}

#login-btn:hover {
    /* background-color: #cacad81a; */
    cursor: pointer;
    border: 1px solid white;
}









/*assign full width inputs*/

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

/*set a style for the buttons*/
.modal-btn {
    background-color: #121fd1;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

/* set a hover effect for the button*/
.modal-btn:hover {
    background-color: #0d0b99;
    color: white;
}

.modal-btn:active{
    scale: 0.9;
}

.login-btn{
    padding: 7px 18px;
    border: none;
    border-radius: 4px;
    background-color: rgb(52, 119, 196);
    margin-top: 10px;
    color: white;
}

.login-btn:hover{
    background-color: rgb(29, 81, 141);
    color: white;
}

.login-btn:active{
    scale: 0.9;
}

.ft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ft>p{
    position: relative;
    left: 70px;
    top: 14px;
}
/*set extra style for the cancel button*/
.cancelbtn {
    position: relative;
    left:80%;
    top: -30px;
    width: 100px;
    border-radius: 5px;
    padding: 8px 18px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.cancelbtn:hover{
    background-color: #ffffff56;
}

.cancelbtn:active{
    scale: 0.9;
}

/*set padding to the container*/
.container {
    padding: 26px;
    width: 100% !important;
}

/*set the forgot password text*/
span.psw {
    float: right;
    padding-top: 16px;
}

/*set the Modal background*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* padding-top: 60px;    */
}

/*style the model content box*/
.modal-content {
    background-color: #bbbbbb9f !important;
    /* filter: blur(px); */
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
}

/*style the close button*/
.close {
    position: absolute; 
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(250, 0, 0, 0.966);
    cursor: pointer;
}

/* add zoom animation*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}